<!doctype html>
<html >
   
   <head>
      <script src="../node_modules/angular/angular.js"></script>
	  <script src="js/main.js"></script>
	  <script src="js/studentContoler.js"></script>
	  <style>
       table, th , td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
       }  
   
       table tr:nth-child(odd) {
        background-color: #f2f2f2;
       }

       table tr:nth-child(even) {
        background-color: #ffffff;
       }
      </style>
   </head>
   <body ng-app="myApp">
   <div  ng-controller = "StudentController">
      <table border='0'>
        <tr>
		   <td>Enter Firstname :</td>
		   <td><input type='text' ng-model="student.firstname"/></td>
		</tr>
		<tr>
		   <td>Enter Lastname :</td>
		   <td><input type='text' ng-model="student.lastname"/></td>
		</tr>
		<tr>
		   <td>Enter Fee :</td>
		   <td><input type='text' ng-model="student.fee"/></td>
		</tr>
		<tr>
		   <td>Enter Subject Name :</td>
		   <td><input type='text' ng-model="searchKey"/></td>
		</tr>
	  </table>	  
	  <br/>
      Full Name: {{student.fulname() | uppercase}}	  
	   <br/>
      Full Name: {{student.fulname() | lowercase}}	  
	   <br/>
	  Fee : {{student.fee | currency}}	
	  <br/>
	  <table border='1'>
	    <tr>
		   <td>Srno</td>
		   <td>Subject</td>
		   <td>Marks</td>
		</tr>
		<tr ng-repeat="subject in student.subjects | filter:searchKey">
		   <td>{{subject.srno}}</td>
		   <td>{{subject.name}}</td>
		   <td>{{subject.marks}}</td>
		</tr>
		
	  </table>	
   </div>   
   
   <div  ng-controller = "dataController">
   
   		<p>The content is {{greeting.status.message}}</p>
   
   <table border='1'>
	    <tr>
		   <td>Srno</td>
		   <td>Subject</td>
		   <td>Marks</td>
		</tr>
		<tr ng-repeat="sub in greeting.geonames">
		   <td>{{sub.countrycode}}</td>
		   <td>{{sub.name}}</td>
		   <td>{{sub.fcodeName}}</td>
		</tr>
		
	  </table>	
   </div> 
   </body>
</html>