<table border='0'>
        <tr>
		   <td>Enter Firstname :</td>
		   <td><input type='text' ng-model="student.firstname"/></td>
		</tr>
		<tr>
		   <td>Enter Lastname :</td>
		   <td><input type='text' ng-model="student.lastname"/></td>
		</tr>
		<tr>
		   <td>Enter Fee :</td>
		   <td><input type='text' ng-model="student.fee"/></td>
		</tr>
		<tr>
		   <td>Enter Subject Name :</td>
		   <td><input type='text' ng-model="searchKey"/></td>
		</tr>
	  </table>	  
	  <br/>
      Full Name: {{student.fulname() | uppercase}}	  
	   <br/>
      Full Name: {{student.fulname() | lowercase}}	  
	   <br/>
	  Fee : {{student.fee | currency}}	
	  <br/>